@model List<TestSoftline.Models.TaskViewModel>;

@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    @using (Html.BeginForm("DeleteTask", "Home", FormMethod.Post))
    {
        <p>
            <a asp-controller="Home" asp-action="AddTask" class="btn btn-primary">Добавить</a>
            <button type="submit" class="btn btn-danger">Удалить</button>
        </p>

        foreach (var item in Model)
        {
            <div class="row" style="margin-bottom: 10px;">
                <div class="card" style="padding: 0;">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-auto">
                                <input type="checkbox" name="tasks" value="@item.Id" style="text-align: right;" />
                            </div>
                            <div class="col">
                                <h5 class="card-title">
                                    <a class="text-dark" asp-controller="Home" asp-route-id="@item.Id">@item.TaskName</a>
                                </h5>
                            </div>
                            <div class="col-md-auto">
                                <a asp-controller="Home" asp-action="UpdateTask" asp-route-id="@item.Id" style="text-align: right;">Изменить</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@item.TaskDescription</p>
                    </div>
                    <div>
                        <p class="card-text">@item.StatusName</p>
                    </div>
                </div>
            </div>
        }
    }
</div>
   
