@model List<TestSoftline.Models.Tasks>;

@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="UpdateTask" method="get">
@foreach (var item in Model)
{
    
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">
                <a class="text-dark" asp-controller="Home" asp-route-id="@item.TasksId">@item.TaskName</a>
                </h5>
            <p class="card-text">@item.Description</p>
            <input name="task" type="radio" value="@item.TasksId" />@item.TasksId
        </div>
    </div>
    
}
<a asp-controller="Home" asp-action="AddTask" class="btn btn-primary">Добавить</a>
   <input type="submit" value="изменить" />
</form>
