@model List<TestSoftline.Models.Tasks>;

@{
    ViewData["Title"] = "Home Page";
}


@foreach (var item in Model)
{
    <form id="form" asp-action="UpdateTask" method="get" asp-route-id="@item.TasksId">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">
                <a class="text-dark" asp-controller="Home" asp-route-id="@item.TasksId">@item.TaskName</a>
                </h5>
            <p class="card-text">@item.Description</p>
                <input name="ids" type="checkbox" value="@item.TasksId" />@item.TasksId
        </div>
    </div>
        <button type ="submit">изменть</button>
    </form>
}
<input type="submit" value="удалить" form="form" asp-action="DeleteTask" formmethod="post"/>
<a asp-controller="Home" asp-action="AddTask" class="btn btn-primary">Добавить</a>
   
